[Unit]
Description=Compress files
After=kmjMover.service kmjMoverWatcher.service
Requires=kmjMover.service kmjMoverWatcher.service
Before=kmjCompressorWatcher.service updateStaticFiles.service

[Service]
User=root
Group=root
WorkingDirectory=/var/www/staticFiles/
ExecStart=/home/maxr/src/skkriptz/kmjCompressor.sh
ExecStop=fluffy exit
Type=simple
TimeoutStopSec=20
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
