[Unit]
Description=Rename and move files from project directory.
After=multi-user.target
Before=kmjMoverWatcher.service kmjCompressor.service updateStaticFiles.service kmjCompressorWatcher.service

[Service]
User=root
Group=root
WorkingDirectory=/home/maxr/www/bigcartel/kiss-mary-jane/source/
ExecStart=/home/maxr/src/skkriptz/kmjMover.sh
ExecStop=fluffy exit
Type=simple
TimeoutStopSec=20
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
