[Unit]
Description=move files to server
After=updateStaticFiles.service

[Service]
User=root
Group=root
WorkingDirectory=/var/www/staticFiles/
ExecStart=fluffyctl --close-write -w ./
Type=simple
RemainAfterExit=true
TimeoutStopSec=20
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
