[Unit]
Description=move files to server
After=kmjMover.service kmjMoverWatcher.service kmjCompressor.service kmjCompressorWatcher.service
Requires=kmjMoverWatcher.service kmjMover.service kmjCompressorWatcher.service

[Service]
User=root
Group=root
WorkingDirectory=/var/www/staticFiles/
ExecStart=/home/maxr/src/skkriptz/copy2Server.sh
ExecStop=fluffy exit
Type=simple
TimeoutStopSec=20
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
